# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
.next/
out/
npm-debug.log*

# Misc
.DS_Store
skillbridge.db
*.sqlite3


# TypeScript
*.tsbuildinfo
backend/test.db
backend/test.db
backend/*.db
**/__pycache__/
**/*.pyc
backend/.pytest_cache/
frontend/.next/
frontend/node_modules/
.env
